@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
  themes: [ 'light'];
}

:root,
[data-theme] {
  background: var(--page-scroll-bg, var(--root-bg));
  color: var(--color-base-content);
}

:where(:root, [data-theme]) {
  --root-bg: var(--color-base-100);
}

@theme {
  --font-inter: 'Inter', sans-serif;
}
